*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #060706;
}

form{
    margin-top: 12%;
}

.User{
    width: 300px;
    height: 45px;
    left: 490px;
    top: 330px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    border-radius: 6px;
    border-color: #ffffff;
    padding-left: 25px;
}

.Pass{
    width: 300px;
    height: 45px;
    left: 490px;
    top: 330px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #fff;
    border-radius: 6px;
    border-color: #ffffff;
    padding-left: 25px;
}

.Button{
    width: 300px;
    height: 45px;
    left: 490px;
    top: 483px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    border-radius: 6px;
    color: #2148C0;
}

input[type=text]{
    font-size: 18px;
    background-color: #060706;
}


input[type=password]{
    font-size: 18px;
    background-color: #060706;
}

::placeholder { color: #fff; }

.H1{
    color: #fff;
    margin-left: 160px;
}